*{padding:0; margin:0}

body {background-image:url(image/body.gif)}

#wrapper {width:1246px; margin:auto}

#gray {background-color:#292a2a; padding-bottom:20px}

#header {overflow:hidden; height:100px; padding-top:10px}
#header menu {text-align:center; margin-left:250px}
#header menu ul {list-style:none}
#header menu ul li {float:left; width:100px; margin:5px}
#header menu ul li a {text-decoration:none; color:#b3b2b2; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:60px}
#header menu ul li a:hover {background-color:#1e1e1e; display:block; line-height:60px; color:#f59635}

#title {}
#title img {width:140px; margin-left:553px; margin-bottom:10px}

#review {color:#FFF; font-family:Arial, Helvetica, sans-serif; padding:10px}

#home {padding:10px; background-color:#ccc; border-radius:10px; background: rgba(255,255,255,0.1)}
#home a {text-decoration:none; color:#f59635; font-family:Arial, Helvetica, sans-serif}
#home a:hover {color:#fff; -webkit-transition: color 0.5s ease; -moz-transition: color 0.5s ease; -ms-transition: color 0.5s ease; -o-transition: color 0.5s ease; transition: color 0.5s ease}
#home span {font-family:Arial, Helvetica, sans-serif; color:#fff}

#content {overflow:hidden}
#content #content-left {float:left; width:446px; padding-top:20px}
#content #content-left h2 {color:#fff; font-family:Arial, Helvetica, sans-serif}
#content #content-left h5 {color:#fff; font-family:Arial, Helvetica, sans-serif}
#content #content-left p {color:#a0a0a0; font-family:Arial, Helvetica, sans-serif; font-size:18px}
#content #content-left strong {color:#a0a0a0; font-family:Arial, Helvetica, sans-serif; font-size:18px}
#content #content-right {float:right; width:600px; margin-left:200px}
#address {width:200px; padding-top:30px}
#email {overflow:hidden}
#email p {float:left}
#email a {color:#fff; font:Arial, Helvetica, sans-serif; font-size:19px; text-decoration:none}
#email a:hover { -webkit-transition: color 0.5s ease; -moz-transition: color 0.5s ease; -ms-transition: color 0.5s ease; -o-transition: color 0.5s ease; transition: color 0.5s ease; color:#f59635}
input {background:rgba(255,255,255,0.1); border:1px solid; border-radius:5px; height:30px; width:190px}
.textarea1 {background:rgba(255,255,255,0.1); border:1px solid; border-radius:5px; width:590px; height:200px}
.button1 {background-color:#1e1e1e; border-radius:5px; text-align:center; border:1px solid #161616; line-height:30px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#a0a0a0; text-decoration:none; width:100px}
.button1:hover {border:1px solid; #fff-webkit-transition: color 0.3s ease; -moz-transition: color 0.3s ease; -ms-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; color:#fff}

#footer {overflow:hidden; margin-top:80px; border-top: 7px solid rgba(255,255,255,0.1); padding-top:10px}
#footer #sponsors1 {float:left; width:197.67px; font-family:Arial, Helvetica, sans-serif; color:#FFF; margin-right:11.996px}
#footer #sponsors1 h3 {margin-top:20px}
#footer #sponsors2 {float:left; width:197.67px; margin-right:10px; border-right:1px solid #4f4f4f}
#footer #sponsors3 {float:left; width:197.67px; margin-right:10px; border-right:1px solid #4f4f4f}
#footer #sponsors4 {float:left; width:197.67px; margin-right:10px; border-right:1px solid #4f4f4f}
#footer #sponsors5 {float:left; width:197.67px; margin-right:10px; border-right:1px solid #4f4f4f}
#footer #sponsors6 {float:right; width:197.67px}

#footerbottom {overflow:hidden; padding-top:40px; border-top: 7px solid rgba(255,255,255,0.1);
margin-top:20px}
#footerbottom #footerbottom1 {float:left; width:414.3px}
#footerbottom #footerbottom1 span {font-family:Arial, Helvetica, sans-serif; color:#FFF}
#footerbottom #footerbottom2 {float:left; width:460px; overflow:hidden; margin-left:10px}
#footerbottom #bottom2left {float:left; color:#FFF; margin-bottom:10px; width:220px; font-family:Arial, Helvetica, sans-serif; border-left:1px solid #CCC; padding-left:10px; overflow:hidden}
#footerbottom #bottom2left i {color:#FFF; margin-right:10px; float:left}
#footerbottom #bottom2right {float:right; color:#FFF; width:220px; font-family:Arial, Helvetica, sans-serif; border-right:1px solid #CCC; overflow:hidden}
#footerbottom #bottom2right i {margin-right:10px; float:left}
#footerbottom #footerbottom3 {float:right; width:260px; padding-left:20px}

